.newsletter {
    width: 100%;
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr auto;
    // justify-items: center;
    margin-bottom: 7.8rem;
    // background-color: palegreen;
    &__email {
        margin-left: 5rem;
        text-align: center;
        width: 60.6rem;
        // background-color: lightpink;
        &__title {
            font-size: 2.9rem;
            color: $mainBlue;
            margin-bottom: 3rem;
        }
        &__subtitle {
            font-size: 1.9rem;
            color: $haclight;
            margin-bottom: 3.6rem;
            font-weight: lighter;
        }
        &__form {
            
            &-input {
                width: 41.6rem;
                height: 4.3rem;
                border: 0;
                border: 1px solid lighten($haclight, 30%);
                border-right: 0;
                font-size: 1.4rem;
                position: relative;
                left: 1rem;
                z-index: 5;
            }
            input[placeholder] {
                font-size: 1.6rem;
                font-style: italic;
                padding: 0 2rem;
                color: $haclight;
                font-family: inherit;
            }
            &-button {
                width: 14.1rem;
                height: 4.5rem;
                background-color: $mainRed;
                color: white;
                border: 0;
                font-family: inherit;
                font-size: 1.4rem;
                position: relative;
                z-index: 6;
            }
        }
    }
    &__social {
        margin-right: 5rem;
        text-align: center;
        width: 60.6rem;
        // background-color: lightpink;
        &__title {
            font-size: 2.9rem;
            color: $mainBlue;
            margin-bottom: 3rem;
        }
        &__subtitle {
            font-size: 1.9rem;
            color: $haclight;
            margin-bottom: 3.6rem;
            font-weight: lighter;
        }
        &__icons {
            @include vCenter;

            .icon {
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                border: 1px solid lighten($haclight, 30%);
                margin-right: 2rem;

                @include center;
                
                &:last-of-type {
                    margin-right: 0;
                }
            }
            .fa, .fab {
                font-size: 2.2rem;
                color: $haclight;
            }
        }
    }
}