.main-hero {
    @include afterSmall {
        // position: relative;
    
        &__hero-image {
            // width: 100%;
        }
        &__title {
            // width: 52.8rem;
            // position: absolute;
            width: 35rem;
            left: 4%;
            top: 35%;
            text-align: right;
        
            &__subtitle {
                font-size: 5rem;
                font-weight: bold;
                color: $mainBlue;
            }
            &__subtitle-text {
                font-size: 2rem;
                color: $haclight;
                font-weight: thin;
            }
        }
    }
}
 