.main-hero {
    @include afterMid {
        // position: relative;
        // visibility: hidden;;
        
        &__hero-image {
            width: 100%;
        }
        &__title {
           width: 52.8rem;
           position: absolute;
           left: 8%;
           top: 35%;
           text-align: right;
     
           &__subtitle {
              font-size: 9rem;
              font-weight: bold;
              color: $mainBlue;
           }
           &__subtitle-text {
              font-size: 2.5rem;
              color: $haclight;
              font-weight: thin;
           }
        }
    }

     
}
 