.main-header {
    @include afterMid {
        width: 98vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        font-weight: lighter;
        padding: 1.5rem 0;
        margin-bottom: .5rem;
        margin-top: .5rem;
        &__small {
            display: none;
        }
        &__main-nav {
            display: flex;
        
            li {
                margin-right: 3.1rem;
                color: $hac;
    
                .fa {
                    margin-left: 1rem;
                }
                a {
                    color: $hac;
                }
            }
            li:nth-of-type(4),
            li:nth-of-type(5),
            li:nth-of-type(6) {
                display: block;
            }
            li:nth-of-type(3) {
                display: none;
            }
        }
        &__main-logo {
            // font-size: 2.4rem;
            // position: relative;
            // right: 19.7rem;
            // margin-right: auto;
            margin-bottom: 0;
        }
        &__menu {
            position: static;
            margin-left: auto;
        }
        &__nav-v {
            width: 50vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: static;
            margin: 0;
        }
        .nothing_here {
            display: none;
        }
    }
}