.main-header {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: lighter;
    padding: 1.5rem 1.6rem;
    // background: yellow;
    &__main-nav {
        display: flex;
        
        li {
            margin-right: 3.1rem;
            color: $hac;

            .fa {
                margin-left: 1rem;
            }
            a {
                color: $hac;
            }
        }
    }
    &__main-logo {
        font-size: 2.4rem;
        position: relative;
        right: 19.7rem;
    }
    &__menu {
        display: flex;
        align-items: center;

        .fa, .fas {
            margin: 0 2.1rem;
            font-size: 1.7rem;
            color: $hac;
            font-weight: 600;

            &-shopping-bag {
                margin-right: 1px;
            }
        }
        .fa:last-of-type,
        .fas:last-of-type {
            margin-right: 0;
        }
        
        &__seperator {
            font-size: 1.2rem;
            color: lighten($color: $hac, $amount: 30%);
        }
        &__item-number {
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 50%;
            background-color: $mainRed;
            color: white;
            font-size: 1.2rem;
            position: relative;
            left: -5px;
            top: -10px;

            @include center;
        }
    }


}